<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cola.magazine.modular.system.dao.WxUserAuthsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cola.magazine.modular.system.model.WxUserAuths">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="source_type" property="sourceType" />
        <result column="identifier" property="identifier" />
        <result column="credential" property="credential" />
        <result column="valid" property="valid" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, source_type, identifier, credential, valid, create_date, modify_date
    </sql>

</mapper>
